<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ml2_meta -->
      <package
            uri="http://www.nemo.inf.ufes.br/ml2/ML2"
            class="br.ufes.inf.nemo.ml2.meta.MetaPackage"
            genModel="model/ml2_meta.xcore"/>
   </extension>

</plugin>
